target/resolution-cache
logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
dump.rdb
projectFilesBackup
dump_02-12.rdb
list.txt
*~
projectFilesBackup/
project/.idea
.zsh_history
.bash_history
lock.sbt
